
.input-box {
  position: relative;
  height: 40px;/*height of the search bar*/
  max-width: 900px;/*slenght of the search bar*/
  width: 100%;
  background: #EEEEEE;
  margin: 40px 250px 30px;/*spacing from top and side*/
  border-radius: 30px;/*rounding of button*/
  box-shadow: 0 5px 10px rgba(158, 147, 147, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {

  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 0px;/*spacing of button from right side*/
  font-size: 16px;
  font-weight: 400;
  color: #EEEEEE;
  border: none;
  padding: 8px 20px;/*sizing of button*/
  border-radius: 0px 30px 30px 0px;/*button rounding of edges*/
  background-color: #DC5F00;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 1050px) {
  .input-box {
    height: 44px;
    width: 90%;
    margin: 60px 35px 10px;
    right: 1px;
  }
  .input-box i {
    left: 9px;
    font-size: 10px;
  }
  .input-box input {
    padding: 0 10px 0 15px;
  }
  .input-box .button {
    right: 0px;
    font-size: 14px;
    padding: 12px 20px;/*sizing of button*/
  }
}
